*{
background-color: #321D2F;
}

.title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Redressed;
  text-align: center;
  color: #F5BA5C;
  
}
header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2em;
  padding: 2px;
}
nav{
  display: flex;
  justify-content: flex-end;
  margin: none;
}
h1{
  margin-top: 1px;
}

button {
  position: relative;
  height: 5rem;
  width: 11rem;
  margin: 15px;
  padding: 15px 15px;
  font-size: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
 }
 
 button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
 }
 
 button:active {
  transform: scale(0.9);
 }

 p{
   font-size: 4rem;
   text-align: center;
 }
 oldPen{
   
 }

textarea{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  width: 400px;
  height: 400px;
  left: 161px;
  top: 225px;
  background: #55B0B5;
  box-shadow: 20px 20px 4px rgba(116, 187, 202, 0.25);
 }
 ::placeholder{
   color: #E6E4F1;
 }
 .newNote{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30em;
  justify-content: center;
 }
 .div-notes{
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 .input-note-title{
  width: 10em;
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
  background-color: #55B0B5 ;
  color: #321D2F;
  border-radius: 0.5em;
  padding: 7px;
  border: none;
 }
 .submitButton{
  background-color: #F5BA5C;
  border-color: #413D5A;
  color: white;
  width: 5.5em;
  height: 2em;
  padding: 0;
  margin: 1em;
  font-family: Oxygen;
  font-size: 30px;
  box-shadow: inset 0 0 0 0 #F5BA5C;
 }
 .submitButton:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #413D5A;
 }

.App {
  text-align: center;
  background-color: cadetblue;
}
.div-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Redressed;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5em;
  text-align: center;
  color: #F5BA5C;
}
.out-button{
  width: 4em;
  height: 2em;
 display: flex;
 align-items: center;
 justify-content: center;
 left: 25em;
}